
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.liked-songs-box{
    width: 320px;
    height: 60px;
    background-color: rgb(98, 84, 50);
    border-radius: 15px / 18px;
    display: flex;
}
.liked-icon{
    margin-top: 14px;
    margin-left: 15px;
}
.songs-details{
    margin-left: 15px;
}
h4{
    font-weight: 400;
    margin-top: 5px;
    font-size: 18px;

}
p{
    margin-top: -5px;
    font-size: 13px;
}

.pin-icon-container{
    margin-left: 120px;
    margin-top: 20px;
}