* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.libraryCard {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;



}

.libraryCard:last-child {
    margin-bottom: 140px;
}

.libraryImage {
    width: 100px;
    height: 100%;


}

.artistImage {

    width: 100px;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;




}

.image {
    width: 100px;
    height: 100%;
    object-fit: cover;



}

.libraryDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    align-items: start;
    padding-top: 5px;
    padding-left: 20px;
    width: 500px;



}

.libraryCategory {
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #B6B6B6;
    text-align: start;
    overflow: hidden;



}

.category {
    overflow: hidden;
    text-overflow: ellipsis;

}

.libraryPara {
    align-items: start;
    color: #B6B6B6;
    text-align: left;


}

.libraryHead {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}