*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-container{
    display: flex;
    flex-direction: row;

  
}
.song-container{
        padding-left: 80px;
    padding-top: 10px;
}
.song{
    color: goldenrod;
    font-size: 20px;
}

.podcast-container{
        padding-left: 37px;
    padding-top: 10px;
}
.podcast{
    font-size: 20px;
    color: #B6B6B6;
}

.icon-container{
    padding-left: 50px;
}

.shuffle-icon{
    width: 35px;
    height: 35px;
}