* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.buttonContainer {
    margin-left: 0px;
    margin-top: 10px;
}

.btn {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border-width: 0;
    background-color: transparent;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(143, 119, 61);
    color: black;
    height: 25px;
    width: 90px;
    border-radius: 10px;
    border-width: 0;
    font-size: 17px;
    font-weight: 500;
}