* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recommendation{
    width: 170px;
     flex: 0 0 auto;
}
.recommendationBox{
    height: 170px;
    width: 170px;
    background-color: rgb(192, 185, 185);
    display: grid;
    grid-template-columns:  auto auto;
    border-radius: 15px / 18px;
    overflow: hidden;

}
.innerBox{
  

    
    
    
}

.innerBox1{
    background-color: red;
}
.innerBox2{
    background-color: rgb(0, 45, 107);
}
.innerBox3{
    background-color: rgb(25, 151, 0);
}
.innerBox4{
    background-color: rgb(0, 0, 0);
}
.recommendationDetails{
    word-break: break-all;
}

.img{
    object-fit: cover;
}
.para{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    text-align: start;
}
