* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.headingContainer {
    padding: 0;
    margin-left: 50px;
   

}

.libraryHeading {
    font-size: 30px;
    font-weight: 500;
    margin-left: 0px;
    width: 200px;
    color: #654926;

}

.search {

    margin-top: 10px;
    width: 100%;


  
}



.plus {
    padding-left: 10px;
    margin-top: 10px;

}