* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recommendation{
    width: 200px;
     flex: 0 0 auto;
}
.recommendation-box{
    height: 200px;
    width: 200px;
    background-color: rgb(192, 185, 185);
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px / 18px;
    overflow: hidden;

}
.inner-box{
    height: 100px;
    width: 100px;

    
    
    
}

.inner-box1{
    background-color: red;
}
.inner-box2{
    background-color: rgb(0, 45, 107);
}
.inner-box3{
    background-color: rgb(25, 151, 0);
}
.inner-box4{
    background-color: rgb(0, 0, 0);
}
.recommendation-details{
    word-break: break-all;
}

img{
    object-fit: cover;
}
p{
    font-size: 20px;
    font-weight: 400;
}
