*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.searchHead{
    display: flex;
    flex-direction: row;
    text-align: start;
    width: 100%;
}
.searchHeading{
    margin-left: 50px;
}