*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-tab{
    height: 30px;
    padding: 5px 8px 5px 10px;
     background-color: #1a1a1a;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 15px;
}